<h2>{{ titulo }}</h2>
<p>Compra las zapatillas de las mejores marcas</p>

<ul>
    <li *ngFor="let marca of marcas">{{marca}}</li>
</ul> 


<ul>
    <li *ngFor="let deportiva  of zapatillas">
        {{ deportiva.nombre }} -<strong>{{deportiva.precio}}$</strong>
        <span *ngIf="deportiva.precio < 80"
         [style.background]= "deportiva.precio < 80 ? 'green' : 'transparent'"
         [style.color]= "deportiva.precio < 80 ? 'white' : 'black'"
         > !En Oferta¡</span>
    </li>
        
</ul>
